<!DOCTYPE html>
<html>
	<head>
		<title>GitHub Activity</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/11.0.0/build.css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>
