<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Activity</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="assets/app.css" />
  </head>
  <body>
    <%= yield %>
    <script src="assets/app.js" defer></script>
  </body>
</html>
